.App {
  background-color: beige;
  padding-top: 0.5em;
  display: flex;
  flex-direction: column;

  @media (min-width: 1000px) {
    padding-left: 15em;
    padding-right: 15em;
  }

  .title,
  .subhed {
    text-align: center;
  }

  .add-player-button-container {
    align-self: center;
    height: 7em;
    display: flex;
    align-items: center;
  }
}
